body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Fundo claro */
    color: #343a40;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #6f42c1; /* Roxo */
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #495057;
}

.success {
    color: #28a745; /* Verde */
    font-weight: bold;
}

.error {
    color: #dc3545; /* Vermelho */
    font-weight: bold;
}

.btn-container {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #6f42c1; /* Roxo */
    border-radius: 4px;
}

.btn:hover {
    background-color: #5a2e91; /* Roxo escuro */
}